<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.jambots.generictest"
        versionCode="1" 
        version   = "1.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Generic Test</name>
    <description>Test Audio Streams</description>
<gap:platform name="android" />
<gap:platform name="ios" />
<preference name="fullscreen" value="true" />
<preference name="orientation" value="portrait" />
<gap:splash src="splash.png" />
<access origin="*" />
<!--
<feature name="http://api.phonegap.com/1.0/media"/>
-->
<gap:plugin name="org.apache.cordova.media" version="0.2.3" />
<feature name="http://api.phonegap.com/1.0/network"/>
<icon src="icon.png" />
<!--
<gap:plugin name="com.phonegap.plugins.childbrowser" />
-->
<feature name="ChildBrowser">
  <param name="ios-package" value="ChildBrowserCommand" />
</feature>
</widget>